*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'UTM';
    src: url('../font/UTM\ Duepuntozero.ttf');
}
body{
    width: 980px;
    margin: auto;
}
.menu{
    display: flex;
    height: 70px;
    background: rgb(15, 15, 153);
    padding-top: 20px;
}
.menu ul{
    display: flex;
    list-style: none;
    margin-left: 30px;
}
.menu ul li{
    margin-left: 20px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}
.menu ul li a:hover{
    color: aqua;
}
.logo{
   width: 200px;
    height: 50px;
    text-align: center;
}
.banner{
    object-fit: cover;
}
form{
    margin-left: 70px;
}
form input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
}
form button{
    width: 70px;
    height: 25px;
    border-radius: 5px;
    color: aliceblue;
    background: rgb(114, 18, 18)
}
main{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(243, 236, 236);
    padding-top: 20px;
    padding-bottom: 140px;
    border-radius: 20px;
}
.content{
    display: flex;
    margin-left: 15px;
}
.product{
    border: 1px solid rgb(213, 207, 207);
    padding: 30px;
}
.product img:hover{
    transform: scale(1.5);
    transition: 1.5s;
}
.product h4{
    text-align: center;
    margin-bottom: 25px;
    font-family: 'UTM';
}
.product h3{
    text-align: center;
    margin-top: 25px;
    color: rgb(201, 29, 29);
    font-family: 'UTM';
}
footer{
    height: 50px;
    background: rgb(15, 15, 153);
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
}