*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Black.ttf');
}
body{
    width: 1920px;
    margin: auto;
}
header{
    text-align: center;
}
header .logo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu ul{
    display: flex;
    margin-left: 750px;
    margin-bottom: 50px;
}
.menu ul li{
    list-style: none;
    margin-left: 30px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'roboto';
}
.menu ul li a:hover{
    color: red;
}
h2:hover{
    color: green;
}
.nd h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'roboto';
    color: black;
}
.nd h1{
    text-align: center;
    margin-bottom: 80px;
    font-family: 'roboto';
    color: black;
}
.nd h2:hover{
    color: green;
}
.nd h1:hover{
    color: green;
}
.content{
    display: flex;
    margin-left: 50px;
}
.product{
    margin-left: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;   
    transition: .5s ease-in-out;
}
.product h2{
    margin-top: 30px;
}
.product:hover .w13{
    bottom: 0;
}
.product:hover{
    transform: scale(1.2);
}
.w13{
    background: #ffffff;
    width: 100%;
    position: absolute;
    bottom: -300px;
    transition: .5s ease-in-out;
}
.w13 h2{
    margin-top: 20px;
    margin-bottom: 30px;
}
.w13 button{
    background: black;
    color: aliceblue;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.banner-2{
    margin-left: 130px;
    margin-top: 40px;
}
.banner-2 .img-2{
    width: 1553px;
    height: 400px;
}
footer h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'roboto';
    color: black;
}
footer form{
    text-align: center;
    margin-bottom: 50px;
}
footer input{
    width: 500px;
    height: 50px;
    padding-left: 20px;
}
footer button{
    height: 50px;
    width: 130px;
    color: #fff;
    background: rgb(3, 3, 69);
}
.logo-2{
    margin-left: 10px;
    margin-top: 20px;
}